.addinfo, .addinfo .addinfo-main{
    height: 100%;
    align-items: center;
}


.contact-info, .resourcese-info{
    text-align: center;
}

.col-10{
    border-style: solid;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.resume-download button{
    background-color: rgb(82, 80, 80);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    width: 80%;
    position: relative;
}

.resource-links div a{
    position: relative;
}

@media only screen and (max-width : 768px) { 
    .addinfo{
      display: block;
      height: fit-content;
    }
  }