.row.experience{
    height: 100%;
    width: 100%;
    overflow: scroll;
    position: relative;
}

.work-list{
    height: 100%;
    width: 100%;
    border-right: 1px solid #333;
}

.education-list{
    height: 100%;
    width: 100%;
}

.work-title{
    padding-top: 5px;
    height: max-content;
    border-style: dashed;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-color: rgb(131, 128, 128);
}